﻿<!DOCTYPE html>
<html>

<!-- Mirrored from webapplayers.com/inspinia_admin-v2.5/form_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Jun 2016 07:23:04 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        
        
            

            

                <div class="row">
                    <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Выберите удобную для Вас дату и время</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group" id="data_2">
                                    <label class="font-noraml">Дата: </label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="08/09/2014">
                                    </div>
                                    <h5>Время: </h5>
                                    <div class="input-group clockpicker" data-autoclose="true">
                                        <input type="text" class="form-control" value="09:30">
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                    </div>
                                    <div class="ibox-title  back-change">
                                        <center><button style="position: center" class="btn btn-primary" type="submit">Сохран</button></center>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="row">

                </div>
                <div class="row">

                </div>
            

        
    </div>
    <div id="tableOffice"></div>
    <!-- Mainly scripts -->
    <script src="Scripts/jquery-2.1.1.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="Scripts/inspinia.js"></script>
    <script src="Scripts/plugins/pace/pace.min.js"></script>
    <script src="Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Data picker -->
    <script src="Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- MENU -->
    <script src="Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Color picker -->
    <script src="Scripts/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <!-- Clock picker -->
    <script src="Scripts/plugins/clockpicker/clockpicker.js"></script>
    <!-- Image cropper -->
    <script src="Scripts/plugins/cropper/cropper.min.js"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="Scripts/plugins/fullcalendar/moment.min.js"></script>
    <!-- Date range picker -->
    <script src="Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Select2 -->
    <script src="Scripts/plugins/select2/select2.full.min.js"></script>
    <!-- TouchSpin -->
    <script src="Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script>
        $(document).ready(function () {
            GetAllOffices();

            function GetAllOffices() {
                $.ajax({
                    url: '/api/offices',
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        //console.error(data);
                        WriteResponse(data);
                        console.error(numbers);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }

            function WriteResponse(offices) {
                var strResult = "<h1>Список всех офисов</h1><table style = padding: 10px 0;>";
                $.each(offices, function (index, office) {
                    var imgProjector = "";
                    var imgMarkerBoards = "";
                    if (office.MarkerBoards == true) { imgMarkerBoards = "<p><img width'40' height='40' src='images/imgMarkerBoards.jpg' alt='Письма мастера дзен'></p>"; }
                    if (office.Projector == true) {
                        imgProjector = "<p><img width'40' height='40' src='images/projector.png' alt='Письма мастера дзен'></p>";
                    }
                    strResult += "<tr><td> <div  class='Box2'><h3 style = 'text-align: center;'>" + office.Name + "</h3><table> <tr><td> <h4>Количество кресел: </h4></td><td>" + office.Chairs + "</td></tr>" +
                        "<tr><td>" + imgProjector + "</td><td>" + imgMarkerBoards + "</td></tr></table></div>" +
                        "</td><td><a id='editItem' data-item='" + office.Id + "' onclick='EditItem(this);' >Редактировать</a></td>" +
                        "<td><a id='delItem' data-item='" + office.Id + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
                });
                strResult += "</table>";
                $("#tableOffice").html(strResult);

            }
            $('#data_2 .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "dd/mm/yyyy"
            });
            $('.demo1').colorpicker();

            $('.clockpicker').clockpicker();
        });
    </script>
</body>


</html>
