﻿<style>
    table {
        border-spacing: 300px 100px;
    }
    #editBlock {
        
        display: none;
        position: fixed;
        top: 100px;
        right: 20px;
    }

    #createBlock {
        position: absolute;
        top: 100px;
        right: 20px;
    }
    .wrapper-content {
        width: 600px;
    }
    .btn-group-lg > .btn, .btn-lg {
        border-radius: 6px;
        font-size: 12px;
        line-height: 1.33333;
        padding: 10px 16px;
    }

    .contact-box {
        width: auto;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div id="tableOffice"></div>
        </div>
</div>

<div id="editBlock">
    <p><b>Редактирование офиса</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Название комнаты: </label></td><td><input type="text"  id="editName" /></td></tr>
        <tr><td><label>Количество кресел: </label></td><td><input type="text" id="editChairs" /></td></tr>
        <tr><td><label>Наличие проектора: </label></td><td><input type="checkbox"  id="editProjector" /></td></tr>
        <tr><td><label>Наличие маркерной доски: </label></td><td><input type="checkbox"  id="editMarkerBoards" /></td></tr>
    </table>
    <button class="btn btn-primary btn-xs m-l-sm reject-btn" id="edit_Office">Сохранить</button>
    <button class="btn btn-primary btn-xs m-l-sm reject-btn" id="cancelEdit">Отменить</button>
</div>
<div id="createBlock">
    <p><b>Добавление офиса</b></p>
    <table>
        <tr><td><label>Название комнаты: </label></td><td><input type="text" id="addName" /></td></tr>
        <tr><td><label>Количество кресел: </label></td><td><input type="text" id="addChairs" /></td></tr>
        <tr><td><label>Наличие проектора: </label></td><td><input type="checkbox" id="addProjector" /></td></tr>
        <tr><td><label>Наличие маркерной доски: </label></td><td><input type="checkbox"  id="addMarkerBoards" /></td></tr>
    </table>
    <button class="btn btn-primary btn-xs m-l-sm reject-btn" id="addOffice">Сохранить</button>
    <button class="btn btn-primary btn-xs m-l-sm reject-btn" id="cancelAdd">Отменить</button>
</div>

    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {

                GetAllOffices();

                $("#edit_Office").click(function (event) {
                    event.preventDefault();
                    EditOffice();
                    $("#createBlock").css('display', 'none');
                    $("#editBlock").css('display', 'none');
                });

                $("#addOffice").click(function (event) {
                    event.preventDefault();
                    AddOffice();
                });
                $("#cancelAdd").click(function (event) {
                    event.preventDefault();
                    Cancel();
                });

                $("#cancelEdit").click(function (event) {
                    event.preventDefault();
                    Cancel();
                });
            });

            function Cancel() {
               
                $("#createBlock").css('display', 'block');
                $("#editBlock").css('display', 'none');
                $('#addName').val("");
                $('#addChairs').val("");
                $("#addProjector").removeAttr("checked");
                $("#addMarkerBoards").removeAttr("checked");
            }
            // Получение всех офисов по ajax-запросу
            function GetAllOffices() {

                $("#createBlock").css('display', 'block');
                $("#editBlock").css('display', 'none');
                $.ajax({
                    url: '/api/offices/GetOffices/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        //console.error(data);
                        WriteResponse(data);
                        console.error(numbers);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
            // Добавление 
            function AddOffice() {
                var chekedProjector = false;
                if ($("#addProjector").prop("checked")) {
                    chekedProjector = true;
                }
                var chekedMarkerBoards = false;
                if ($("#addMarkerBoards").prop("checked")) {
                    chekedMarkerBoards = true;
                }
                // получаем значения для добавляемой книги
                var office = {
                    Name: $('#addName').val(),
                    Chairs: $('#addChairs').val(),
                    Projector: chekedProjector,
                    MarkerBoards: chekedMarkerBoards
                };
                if (office.Name != "") {
                    $.ajax({
                        url: '/api/offices/PostOffice',
                        type: 'POST',
                        data: JSON.stringify(office),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            $('#addName').val("");
                            $('#addChairs').val("");
                            $("#addProjector").removeAttr("checked");
                            $("#addMarkerBoards").removeAttr("checked");

                            GetAllOffices();
                             
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }
                else {

                    alert("Вы не ввели название офиса!")
                }
            }
            // Удаление 
            function DeleteOffice(id) {

                $.ajax({
                    url: '/api/offices/DeleteOffice/' + id,
                    type: 'DELETE',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        GetAllOffices();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
            // редактирование
            function EditOffice() {
                var id = $('#editId').val()
                var chekedProjector = false;
                if ($("#editProjector").prop("checked")) {
                    chekedProjector = true;

                }
                var chekedMarkerBoards = false;
                if ($("#editMarkerBoards").prop("checked")) {
                    chekedMarkerBoards = true;

                }
                // получаем новые значения для редактирования
                var office = {
                    Id: $('#editId').val(),
                    Name: $('#editName').val(),
                    Chairs: $('#editChairs').val(),
                    Projector: chekedProjector,
                    MarkerBoards: chekedMarkerBoards
                };
                $.ajax({
                    url: '/api/offices/PutOffice/' + id,
                    type: 'PUT',
                    data: JSON.stringify(office),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        GetAllOffices();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
                $("#createOffice").css('display', 'none');
                $("#editOffice").css('display', 'none');
            }
            // вывод полученных данных на экран
            function WriteResponse(offices) {
                var strResult = "<h1>Список всех офисов</h1>";
                $.each(offices, function (index, office) {
                    var imgProjector = "";
                    var imgMarkerBoards = "";
                    var StartDate = office.StartDate;
                    if (StartDate == null) { StartDate = " Аудитория свободна"; }
                    else { StartDate += "/";}
                    var StopDate = office.StopDate;
                    if (StopDate == null) { StopDate = " <br> "; }
                    if (office.Office.MarkerBoards == true) {
                        imgMarkerBoards = "<img width'40' height='40' src='images/imgMarkerBoards.jpg' alt='Доска'>";
                    }
                    if (office.Office.Projector == true) {
                        imgProjector = "<img width'40' height='40' src='images/projector.png' alt='Проектор'>";
                    }
                    strResult += "<input id='btnId" + index + "' type='hidden' name='Id' value='" + office.Office.Id + "'>";
                    strResult += " <div class='col-lg-6'><div class='contact-box'><h3 style = 'text-align: center;'>" + office.Office.Name + "</h3> <center> <h4>Количество кресел: " + office.Office.Chairs + "</h4></center>" +
                        "<center><p>" + imgProjector + imgMarkerBoards + "</p></center><center><hr>" + StartDate + "<br>" + StopDate + "</hr></center>" +
                        "<center><button id='editItem' class ='btn btn-primary btn-xs m-l-sm reject-btn' data-item='" + office.Office.Id + "' onclick='EditItem(this);' type='button'>Редактировать</a>" +
                        "<button class='btn btn-primary btn-xs m-l-sm reject-btn' id='delItem' data-item='" + office.Office.Id + "' onclick='DeleteItem(this);' type='button' >Удалить</a></center></div></div>";
                });
                strResult += "";
                $("#tableOffice").html(strResult);

            }
            // обработчик удаления
            function DeleteItem(el) {
                // получаем id удаляемого объекта
                var id = $(el).attr('data-item');
                DeleteOffice(id);
            }
            // обработчик редактирования
            function EditItem(el) {
                // получаем id редактируемого объекта
                var id = $(el).attr('data-item');
                GetOffice(id);
            }
            // вывод данных редактируемого офиса в поля для редактирования
            function ShowOffice(office) {
                var value = " ";
                $('#editProjector').removeAttr("checked");
                $('#editMarkerBoards').removeAttr("checked");
                    $("#createBlock").css('display', 'none');
                    $("#editBlock").css('display', 'block');
                    $("#editId").val(office.Id);
                    $("#editName").val(office.Name);
                    $("#editChairs").val(office.Chairs);
                    if (office.Projector == true) {
                        $('#editProjector').prop("checked", "checked");
                    }
                    if (office.MarkerBoards == true) {
                        $('#editMarkerBoards').prop("checked", "checked");
                    }                  
                
            }
            // запрос офиса на редактирование
            function GetOffice(id) {
                $.ajax({
                    url: '/api/offices/GetOffice/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        ShowOffice(data);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
        </script>
    }
