﻿@{
    ViewBag.Title = "Minor";
}
<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    #tableBookings {
        width: 600px;
        float: right;
    }

    .contact-box {
        width: auto;
    }

    .wrapper-content {
        width: 400px;
        float: left;
    }

    .btn-primary {
        line-height: 1;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div id="tableOffice"></div>
    </div>
</div>

<div class="row">
    <div class="text-center m-t-lg">
        <div id="tab-1" class="tab-pane active">
            <div class="full-height-scroll">
                <div id="tableBookings">
                    <div class="table-responsive">
                        <table id="tableAddBooking" class="table table-striped table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            GetAllOffices();
            GetNewBookings();
            setInterval('GetAllOffices();', 10000);
            setInterval('GetNewBookings();', 10000);
        });
        // Получение всех офисов по ajax-запросу
        function GetAllOffices() {
            $.ajax({
                url: '/api/offices/GetOffices/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    //console.error(data);
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // вывод полученных данных на экран
        function WriteResponse(offices) {
            var strResult = "<h1>Список всех офисов</h1><table>";
            $.each(offices, function (index, office) {
                var imgProjector = "";
                var imgMarkerBoards = "";
                var StartDate = office.StartDate;
                if (StartDate == null) { StartDate = " Аудитория свободна"; }
                else { StartDate += "/"; }
                var StopDate = office.StopDate;
                if (StopDate == null) { StopDate = " <br> "; }
                if (office.Office.MarkerBoards == true) {
                    imgMarkerBoards = "<img width'40' height='40' src='/images/imgMarkerBoards.jpg' alt='Доска'>";
                }
                if (office.Office.Projector == true) {
                    imgProjector = "<img width'40' height='40' src='/images/projector.png' alt='Проектор'>";
                }
                strResult += "<input id='btnId" + index + "' type='hidden' name='Id' value='" + office.Office.Id + "'>";
                strResult += " <div class='col-lg-6'><div class='contact-box'><h3 style = 'text-align: center;'>" + office.Office.Name + "</h3> <center> <h4>Количество кресел: " + office.Office.Chairs + "</h4></center>" +
                    "<center><p>" + imgProjector + imgMarkerBoards + "</p></center><hr>" + StartDate + "<br>" + StopDate + "</hr></div></div>";
            });
            strResult += "";
            $("#tableOffice").html(strResult);

        }

        // Получение НОВЫХ Заказов по ajax-запросу
        function GetNewBookings() {
            $.ajax({
                url: '/api/bookings/GetBookings/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    //console.error(data);
                    WriteResponseBookings(data);              
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // вывод полученных данных на экран
        function WriteResponseBookings(bookings) {
            var hederTable = "<tbody>< tr ><td><a data-toggle='tab'  class='client-link'>Название офиса</a></td>" +
                "<td>Мероприятие</td><td> Время начала мероприятия</td><td> Время окончания мероприятия</td><td class='client-status'>Подтвердить/<br>Отклонить</td></tr></tbody >";
            var strResult = hederTable + "<tr>";
            $.each(bookings, function (index, booking) {
                var StartDate = booking.StartDate.replace("T", "<br>").replace("00:00", "00");
                var StopDate = booking.StopDate.replace("T", "<br>").replace("00:00", "00");
                strResult += "<td>" + booking.Office.Name + "</td><td>" + booking.EventName + "</td><td>" + StartDate + "</td><td>" + StopDate + "</td>" +
                    "<td><p><button id='edit' class='btn btn-primary btn-xs m-l-sm reject-btn' bookingId='" + booking.Id + " 'type='button'>Отклонить</button><br>" +
                    "<button id='save' class='btn btn-primary btn-xs accept-btn' bookingId='" + booking.Id + "'type='button'>Подтвердить</button ></p></td></tr>";
            });
            $("#tableAddBooking").html(strResult);

        }
        // подтверждение заказа
        $(document).on("click", ".accept-btn", function () {
            var id = $('.accept-btn').attr("bookingId")
            $.ajax({
                url: '/api/bookings/AcceptBooking/' + id,
                type: 'PUT',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllOffices();
                    GetNewBookings();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });
        // Отклонение заказа
        $(document).on("click", ".reject-btn", function () {
            var id = $('.reject-btn').attr("bookingId")
            $.ajax({
                url: '/api/bookings/DeleteBooking/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllOffices();
                    GetNewBookings();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

        });

    </script>
}



