﻿@using CRM.Data.Models
@model List<Office>
@{
    ViewBag.Title = "OfficesList";
}

<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<style>
    .fa {
        margin-right: 10px;
    }
</style>



<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Список офисов</h2>
                </div>
                <div id="result">
                    <span class="pull-right small text-muted">Всего: @Model.Count </span>
                    <div class="clients-list">
                        <ul class="nav nav-tabs"> </ul>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                @foreach (var current in Model)
                                {
                                    <div class="col-lg-4">
                                        <div class="contact-box center-version">
                                            <div class="ibox-tools">
                                                <a href="#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                            <a href="#">
                                                <img alt="image" class="img-circle" src="~/Images/photo.jpg">
                                                @*<h5 class="m-b-xs"><strong>@current.Name @current.Area @current.Redundancy</strong></h5>
                                                <div class="font-bold">Номер Id: @current.Id</div>*@
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

